<html xmlns="http://www.w3.org/1999/xhtml" debug="true" DIR="RTL">

	<head>
	   <title>انتقال وبلاگ از بلاگفا به وردپرس</title>
	</head>
	<style>
	   .header {
			  background-color:#3388CC;
			  background-position:initial initial;
			  background-repeat:initial initial;
			  height:80px;
			  margin:0;
			  padding:0;
			  position:relative;
			  
			  
			  color:white;
			  font-family:Arial;
			  font-size:18pt;
			  font-weight:bold;
			  text-align:center;
			  padding-top:40px;
			  position:relative;
			   margin:0;
			   text-align:center;
         }
      .error {
          color:red;
          vertical-align:middle;
         
       }
         
       
	</style>
	
	<body> 
	   <div class="header"> انتقال  وبلاگ از بلاگفا به وردپرس
	   </div>
	     
		<form action="/" method="post">{% csrf_token %}
			    <div class="fieldWrapper">

			<table>
                                <tr></tr>
				<tr>
			  		<td align="left">
			        {{ form.website.errors }}
			        <label for="id_website">نام وبلاگ در بلاگفا:</label>
			        {{ form.website }}
			  		</td>
			  		<td align="right" class="error">
			  		    
			       	{{ form.non_field_errors }}
			 	 	</td>
			 	</tr>
			 	<tr>
			  		<td align="left">
			        <label for="id_email">پست  الکترونیکی:</label>
			        {{ form.email }}
			  		</td>
			 		<td align="right" class="error"> 
			 
			        {{ form.email.errors }}
			 		</td>
			 	</tr>
			    <tr>
			  		<td align="left">
			    		<p><input type="submit" value="تبدیل" /></p>
			    	</td>
			    </tr>
		    </table>
		    </div>
          <div class="header" style="height:30px;padding-top:5px;text-align:right;">
          راهنما
          </div>
          <br>
          <img src="/static/blogfa_setting2.png" alt="some_text"  style="float:left">
          <div>
                لطفا ابتدا تنظیمات زیر را در بلاگفا انجام دهید.	
          <ul>
    
            
            <li>
          	در سایت بلاگفا لاگین کنید.
          	</li>
          	<li>
          	از منوی سمت راست گزینه «تنظیمات و دیگر امکانات» را انتخاب کنید.
          	</li>
          	<li>
          	در قسمت «قالب وبلاگ و کدهای بکار گرفته شده در وبلاگ» گزینه «انتخاب قالب برای وبلاگ» را انتخاب کنید.
          	</li>
          	<li>          	 
          	گزینه «آبی ساده» را انتخاب کنید.
          	</li>
          	<li>
          	به منوی قبل («تنظیمات و دیگر امکانات») باز گردید.
          	</li>
          	<li>
          	قسمت «تنظیمات کلی وبلاگ (عنوان وبلاگ، نام نویسنده، منطقه زمانی یا نحوه نمایش تاریخ مطالب یا آرشیو)» را انتخاب کنید.
          	</li>
          	<li>          	 
          	تنظیمات زیر را اعمال کنید
          	</li>
          	<li>
          		نحوه نمایش تاریخ پستها: نمایش تاریخ به صورت میلادی مانند 2004/5/20
          	</li>
          	<li>          		 
          		نحوه نمایش زمان پستها: نمایش ساعت و دقیقه - مانند 14:30
          	</li>
          	<li>          		 
          		نحوه نمایش تاریخ آرشیو: نمایش نام ماه یا هفته و سال مانند خرداد ۱۳۸۲ یا هفته اول خرداد ۱۳۸۲
          	</li>
          	<li>          		
          		نحوه آدرس‌دهی صفحات: به شیوه قدیمی (مانند post-1.aspx)
          	</li>
          	</div>
          	<div>
          		<br>
یعد از انجام تغییرات فوق، در فرم بالا، در فیلد «نام وبلاگ در بلاگفا» <b>قسمت اول</b> وبلاگ خود را وارد کنید. 
</br>
به عنوان مثال، برای وبلاگ http://saeedmirzai.blogfa.com/ کافی است تنها saeedmirzai را وارد کنید.
</br>
در قسمت پست الکترونیکی نیز پست الکترونیکی مورد نظر خود را وارد کنید.
</br>
با فشردن دکمه «تبدیل» عمل تبدیل صورت خواهد گرفت و فایل حاصل به صورت فشرده شده به آدرس داده شده ایمیل خواهد شد.
          	          		</br>
          	          		</br>
پستها، کامنتها، برچسبها و دسته‌بندی‌ها، همه منتقل خواهند شد. 
</br>

در صورت وجود مشکل، با ذکر توضیحات لازم، ترجیحا به زبان فارسی، به آدرس  blogfa2wordpress at saeidmirzaei.com ایمیل بزنید.
</br>
از شنیدن تجربیات مثبت شما نیز خوشحال خواهم شد.
          
          </div>
		</form>
	</body>
</html>


